<div>
  <mat-card>
    <mat-card-title>
      Edit
    </mat-card-title>
    <div class="example-container" [formGroup]="connectingForm">
      <input matInput hidden formControlName="id">
      <mat-form-field>
        <input matInput placeholder="Enter Host address" formControlName="host">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your username" formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-checkbox formControlName="isSFTP">Use SFTP?</mat-checkbox>

      <mat-card-footer>
        <button mat-raised-button color="primary" class="login-button" (click)="save()">Save</button>
      </mat-card-footer>
    </div>
  </mat-card>
</div>
