mat-card {
  margin-top: 100px;
  width: 450px;
  height: 300px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
}

mat-card-title {
  text-align: center;
}

mat-card-footer {
  display: flex;
}

.login-button {
  margin-left: auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-container > * {
  width: 100%;
}
